* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 24px;
    gap: 10px;
}
img {
    height: 20vh;
}